{{>layout/header}}

<h2 class="text-center" style="margin-top:20px" >성경 말씀 체크 서비스</h2>
<div class="col-md-12">
    <div class="row text-center">
        <div class="col-md-12">
            <a href="bible/check?purpose=1" role="button" class="btn btn-outline-success btn-lg" style="margin-top:15px">성경 1독</a>
        </div>
        <div class="col-md-12">
            <a href="bible/check?purpose=2" role="button" class="btn btn-outline-success btn-lg" style="margin-top:15px">성경 2독</a>
        </div>
        <div class="col-md-12">
            <a href="bible/check?purpose=3" role="button" class="btn btn-outline-success btn-lg" style="margin-top:15px">성경 3독</a>
        </div>
    </div>
</div>
{{>layout/footer}}
